* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 128, 117);
}

.contenedor {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, auto);
}

.contenedor > div {
    background-color:white;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .header {
    text-align: center;
    background-color: blue;
    color: rgb(255, 0, 0);
    grid-column-start: 2;
    grid-column-end: 2;
}

.contenedor .contenido {
    text-align: center;
    grid-column: span 3;
    background-color: rgb(0, 197, 247);
}

.contenedor .widget-1 {
    background-color: green;
    color: ivory;
    grid-column-start: 1;
    grid-column-end: 3;
}

.contenedor .widget-3 {
    background-color: rgb(0, 128, 117);
    color: ivory;
    grid-column-start: 3;
    grid-column-end: 4;
}

.contenedor .widget-4 {
    background-color: green;
    color: ivory;
    grid-column-start: 1;
    grid-column-end: 4;
}






.contenedor1 {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, auto);
}

.contenedor1 > div {
    background-color:white;
    padding: 20px;
    border-radius: 4px;
}

.contenedor1 .header1 {
    text-align: center;
    background-color: blue;
    color: rgb(255, 0, 0);
    grid-column-start: 2;
    grid-column-end: 2;
}

.contenedor1 .contenido1 {
    text-align: center;
    grid-column: span 4;
    background-color: rgb(0, 197, 247);
}

.contenedor1 .widget-11 {
    background-color: green;
    color: ivory;
    grid-column-start: 1;
    grid-column-end: 3;
}

.contenedor1 .widget-31 {
    background-color: rgb(0, 128, 117);
    color: ivory;
    grid-column-start: 3;
    grid-column-end: 4;
}

.contenedor1 .widget-41 {
    background-color: green;
    color: ivory;
    grid-column-start: 1;
    grid-column-end: 4;
}





.contenedor2 {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, auto);
}

.contenedor2 > div {
    background-color:white;
    padding: 20px;
    border-radius: 4px;
}

.contenedor2 .header2 {
    text-align: center;
    background-color: blue;
    color: rgb(255, 0, 0);
    grid-column-start: 2;
    grid-column-end: 4;
}

.contenedor2 .contenido2 {
    text-align: center;
    grid-column: span 4;
    background-color: rgb(0, 197, 247);
}

.contenedor2 .widget-12 {
    background-color: green;
    color: ivory;
    grid-column-start: 1;
    grid-column-end: 3;
}

.contenedor2 .widget-32 {
    background-color: rgb(0, 128, 117);
    color: ivory;
    grid-column-start: 3;
    grid-column-end: 5;
}

.contenedor2 .widget-42 {
    background-color: green;
    color: ivory;
    grid-column-start: 1;
    grid-column-end: 5;
}





.contenedor3 {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, auto);
}

.contenedor3 > div {
    background-color:white;
    padding: 20px;
    border-radius: 4px;
}

.contenedor3 .header3 {
    text-align: center;
    background-color: blue;
    color: rgb(255, 0, 0);
    grid-column-start: 2;
    grid-column-end: 4;
}

.contenedor3 .contenido3 {
    text-align: center;
    grid-column: span 4;
    background-color: rgb(0, 197, 247);
}

.contenedor3 .widget-13 {
    background-color: green;
    color: ivory;
    grid-column-start: 1;
    grid-column-end: 3;
}

.contenedor3 .widget-33 {
    background-color: rgb(0, 128, 117);
    color: ivory;
    grid-column-start: 3;
    grid-column-end: 5;
}

.contenedor3 .widget-43 {
    background-color: green;
    color: ivory;
    grid-column-start: 1;
    grid-column-end: 5;
}





.contenedor4 {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, auto);
}

.contenedor4 > div {
    background-color:white;
    padding: 20px;
    border-radius: 4px;
}

.contenedor4 .header4 {
    text-align: center;
    background-color: blue;
    color: rgb(255, 0, 0);
    grid-column-start: 2;
    grid-column-end: 4;
}

.contenedor4 .contenido4 {
    text-align: center;
    grid-column: span 4;
    background-color: rgb(0, 197, 247);
}

.contenedor4 .widget-14 {
    background-color: green;
    color: ivory;
    grid-column-start: 1;
    grid-column-end: 3;
}

.contenedor4 .widget-34 {
    background-color: rgb(0, 128, 117);
    color: ivory;
    grid-column-start: 3;
    grid-column-end: 5;
}

.contenedor4 .widget-44 {
    background-color: green;
    color: ivory;
    grid-column-start: 1;
    grid-column-end: 5;
}





.contenedor5 {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, auto);
}

.contenedor5 > div {
    background-color:white;
    padding: 20px;
    border-radius: 4px;
}

.contenedor5 .header5 {
    text-align: center;
    background-color: blue;
    color: rgb(255, 0, 0);
    grid-column-start: 2;
    grid-column-end: 4;
}

.contenedor5 .contenido5 {
    text-align: center;
    grid-column: span 4;
    background-color: rgb(0, 197, 247);
}

.contenedor5 .widget-15 {
    background-color: green;
    color: ivory;
    grid-column-start: 1;
    grid-column-end: 3;
}

.contenedor5 .widget-35 {
    background-color: rgb(0, 128, 117);
    color: ivory;
    grid-column-start: 3;
    grid-column-end: 5;
}

.contenedor5 .widget-45 {
    background-color: green;
    color: ivory;
    grid-column-start: 1;
    grid-column-end: 5;
}



.contenedor6 {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, auto);
}

.contenedor6 > div {
    background-color:white;
    padding: 20px;
    border-radius: 4px;
}

.contenedor6 .header6 {
    text-align: center;
    background-color: blue;
    color: rgb(255, 0, 0);
    grid-column-start: 2;
    grid-column-end: 4;
}

.contenedor6 .contenido6 {
    text-align: center;
    grid-column: span 4;
    background-color: rgb(0, 197, 247);
}

.contenedor6 .widget-16 {
    background-color: green;
    color: ivory;
    grid-column-start: 1;
    grid-column-end: 3;
}

.contenedor6 .widget-36 {
    background-color: rgb(0, 128, 117);
    color: ivory;
    grid-column-start: 3;
    grid-column-end: 5;
}

.contenedor6 .widget-46 {
    background-color: green;
    color: ivory;
    grid-column-start: 1;
    grid-column-end: 5;
}





.contenedor7 {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, auto);
}

.contenedor7 > div {
    background-color:white;
    padding: 20px;
    border-radius: 4px;
}

.contenedor7 .header7 {
    text-align: center;
    background-color: blue;
    color: rgb(255, 0, 0);
    grid-column-start: 2;
    grid-column-end: 4;
}

.contenedor7 .contenido7 {
    text-align: center;
    grid-column: span 4;
    background-color: rgb(0, 197, 247);
}

.contenedor7 .widget-17 {
    background-color: green;
    color: ivory;
    grid-column-start: 1;
    grid-column-end: 3;
}

.contenedor7 .widget-37 {
    background-color: rgb(0, 128, 117);
    color: ivory;
    grid-column-start: 3;
    grid-column-end: 5;
}

.contenedor7 .widget-47 {
    background-color: green;
    color: ivory;
    grid-column-start: 1;
    grid-column-end: 5;
}