* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 128, 117);
}

.contenedor {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, auto);
}

.contenedor > div {
    background-color:white;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .header {
    text-align: center;
    background-color: blue;
    color: rgb(255, 0, 0);
    grid-column-start: 2;
    grid-column-end: 2;
}

.contenedor .contenido {
    text-align: center;
    grid-column: span 3;
    background-color: white;
}

.contenedor .widget-1 {
    background-color: green;
    color: ivory;
    grid-column-start: 1;
    grid-column-end: 2;
}

.contenedor .widget-2 {
    background-color: green;
    color: ivory;
    grid-column-start: 2;
    grid-column-end: 3;
}

.contenedor .widget-3 {
    background-color: green;
    color: ivory;
    grid-column-start: 3;
    grid-column-end: 4;
}

.contenedor .widget-4 {
    background-color: green;
    color: ivory;
    grid-column-start: 1;
    grid-column-end: 2;
}

.contenedor .widget-5 {
    background-color: green;
    color: ivory;
    grid-column-start: 2;
    grid-column-end: 3;
}

.contenedor .widget-6 {
    background-color: green;
    color: ivory;
    grid-column-start: 3;
    grid-column-end: 4;
}

.contenedor .widget-7 {
    background-color: green;
    color: ivory;
    grid-column-start: 2;
    grid-column-end: 3;
}